@charset "utf-8";

/*공통*/
html { overflow-y:scroll}
body { margin:0; padding:0; font-size:0.75em; font-family:'Noto Sans KR', "Apple SD Gothic Neo", Arial,sans-serif; font-size:14px;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img { margin:0; padding:0; border:0;}
h1, h2, h3, h4, h5, h6 { font-size:1em; font-family:'Noto Sans KR', "Apple SD Gothic Neo", Arial,sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
ul, dl,dt,dd { margin:0; padding:0; list-style:none;}
caption,legend { position:absolute; margin:0; padding:0; font-size:0; line-height:0; text-indent:-9999em; overflow:hidden;}
label{cursor:pointer;margin: 0px 7px 0 0px;}
label, input, button, select, img { vertical-align:middle; font-size:1em;}
input, button { margin:0; padding:0; font-family:'Noto Sans KR', "Apple SD Gothic Neo", Arial,sans-serif; font-size:1em;}
input[type="submit"]{cursor:pointer;}
button { border:none; cursor:pointer;}
textarea, select { font-family:'Noto Sans KR', "Apple SD Gothic Neo", Arial,sans-serif; font-size:1em; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;}
select { position: relative; margin:0; height: 35px; background:#fff; border:1px solid #ccc; outline:none; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;font-family: 'Noto Sans KR', "Apple SD Gothic Neo", Arial,sans-serif;}
p { margin:0; padding:0; word-break:break-all;}
p, span { font-family:'Noto Sans KR', "Apple SD Gothic Neo", Arial,sans-serif; }
hr {display:none;}
pre { overflow-x:scroll; font-size:1.1em;}
a { color:#000; text-decoration:none;}
*, :after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
img{ max-width:100%; }
/* 폼 */
input[type=tel], input[type=time], input[type=text], input[type=password], input[type=search], input[type=email], input[type=file], input[type=number],
input[type=date] {display:inline-block;margin:0;padding:5px;height: 40px;width:100%;border: 1px solid #ccc;border-radius:0;/* background: url('/img/wrest.gif') top right no-repeat #fff !important; */font-size:17px;color: #333;line-height:40px;vertical-align: middle;text-decoration:none;appearance:none;-webkit-appearance:none;-moz-appearance:none;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;font-family:'Noto Sans KR', "Apple SD Gothic Neo", Arial,sans-serif;line-height:40px;}
input[type=text], input[type=password], textarea { outline: none;}
input[type=tel]:focus, input[type=time]:focus, input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, input[type=email]:focus, input[type=file]:focus, input[type=number]:focus, input[type=date]:focus, textarea:focus, select:focus { -webkit-box-shadow:  0 0 5px #9ed4ff; -moz-box-shadow:  0 0 5px #9ed4ff; box-shadow: 0 0 5px #9ed4ff;}
input[type=submit] { width:100%; height:auto; appearance:none; -webkit-appearance:none; -moz-appearance:none; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; cursor: pointer;}
textarea { padding:10px; width:100%; background:#fff; border-radius:0; border:1px solid #ccc; appearance:none; -webkit-appearance:none; -moz-appearance:none; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; font-size:15px; color:#333;}
.input_number::-webkit-outer-spin-button,
.input_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
::-webkit-input-placeholder { color: #ccc !important;}
:-moz-placeholder { color: #ccc !important;}
::-moz-placeholder { color: #ccc !important;}
:-ms-input-placeholder { color: #ccc !important;}
::-ms-input-placeholder { color: #ccc !important;}
::placeholder { color: #ccc !important;}
.placeholdersjs { color: #aaa !important; }



/*접근성 _ 컨텐츠 바로가기*/
.skip { position:absolute; left:0; top:-100px; z-index:99999; width:100%; height:40px; border-bottom:1px solid #314888;line-height:40px; text-align:center; font-size:16px; color:#fff; transition:all 0.3s; background:#000;}
.skip:focus { top:0;}





/* 공통 */
#hd, #wrapper, #ft{min-width:1200px}


#hd_wrapper,
#tnb ul,
#gnb .gnb_wrap,
#container_wr,
#ft_wr{width:1200px}





#hd_pop {z-index:10000;position:relative;margin:0 auto;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;background:#fff;box-shadow: 3px 3px 10px rgba(0,0,0,.3); display: none}
.hd_pops img{max-width:100%}
.hd_pops_con {}
.hd_pops_footer {padding: 0;background: #111;color:#fff;text-align:left;position:relative;}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding: 10px;border:0;color:#fff;font-size: 13px;}
.hd_pops_footer .hd_pops_reject{background: transparent;text-align:left;}
.hd_pops_footer .hd_pops_close{background: #4e4e4e;position:absolute;top:0;right:0;padding: 10px 20px;}

#hd {border-top:2px solid #253dbe}
#hd_h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}

#hd_wrapper {position:relative;margin:0 auto;padding:10px 0;height:115px;zoom:1}
#hd_wrapper:after {display:block;visibility:hidden;clear:both;content:""}

#logo {float:left;padding:30px 0 0}

.hd_sch_wr{position:absolute;top:25px;left:50%;width:430px;margin-left:-215px;z-index: 2000;}
#hd_sch h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#hd_sch{border:2px solid #556ada;background:#fff;border-radius:5px;overflow:hidden}
#hd_sch #sch_stx {padding-left:10px;height:40px;width:376px;border:0;border-right:0;float:left;font-size:1.25em}
#hd_sch #sch_submit {height:40px;border:0;background:#fff;color:#253dbe;width:50px;float:left;cursor:pointer;font-size:18px}

#sbn_side{position:absolute;top:20px;right:0}

#tnb {border-bottom:1px solid #ddd;background:#fff}
#tnb h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#tnb ul {margin:0 auto;zoom:1}
#tnb ul:after {display:block;visibility:hidden;clear:both;content:""}
#tnb li {float:right;border-left:1px solid #ddd;margin-bottom:-1px;font-size:0.92em}
#tnb a {display:inline-block;padding:0 10px;color:#646464;line-height:35px}
#tnb a:focus, #tnb a:hover {color:#253dbe;background:#fafafa}
#tnb .tnb_admin a{color:#ff0000;}
#tnb .tnb_left{float:left}
#tnb .tnb_left a{padding:0 14px}
#tnb .tnb_cart{border-right:1px solid #ddd;}
#tnb .tnb_community{border-right:1px solid #ddd}
#tnb .tnb_community i{font-size:15px}
#tnb .tnb_community{background:#e7e7e7;font-weight:bold;}
#tnb .tnb_community:focus, #tnb .tnb_community:hover {color:#333;border-bottom:0}
#tnb .tnb_community a{color:#253dbe;border-bottom:1px solid #e7e7e7}

#hd_qnb{float:right;margin-top:20px}
#hd_qnb:after {display:block;visibility:hidden;clear:both;content:""}
#hd_qnb li{float:left;font-size:1.083em;line-height:15px;position:relative;text-align:center;margin:0 10px}
#hd_qnb li span {display:block;margin-top:5px;font-size:0.92em}
#hd_qnb li a{display:block}
#hd_qnb li i{display:inline-block;width:40px;line-height:40px;border-radius:25px;background:#fff;text-align:center;margin:0;color:#fff}
#hd_qnb .visit .visit-num{display:inline-block;line-height:18px;padding:0 5px;border-radius:10px;background:#f04e00;color:#fff;font-size:10px;position:absolute;top:0;right:0}
#hd_qnb li .fa-question{background:#e83a5f;font-size:20px}
#hd_qnb li .fa-question:hover{background:#e41b45}
#hd_qnb li .fa-comments{background:#82c13f;font-size:16px}
#hd_qnb li .fa-comments:hover{background:#5aa708}
#hd_qnb li .fa-users{background:#f0ba00;font-size:15px}
#hd_qnb li .fa-users:hover{background:#f06f00}
#hd_qnb li .fa-history{background:#8522c4;font-size:15px}
#hd_qnb li .fa-history:hover{background:#6700a9}

#gnb{position:relative}
#gnb h2{position:absolute;font-size:0;line-height:0;overflow:hidden}
#gnb .gnb_wrap{margin:0 auto;position:relative}
#gnb #gnb_1dul {font-size:1.083em;padding: 0;background:#253dbe;zoom:1;
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
-moz-box-shadow:  0 1px 3px rgba(0,0,0,0.3);
box-shadow: 0 1px 3px rgba(0,0,0,0.3)}
#gnb ul:after {display:block;visibility:hidden;clear:both;content:""}
#gnb .gnb_1dli{float:left;line-height:50px;padding:0 15px;position:relative;}
#gnb .gnb_1dli:hover{background:#1a30a7;
-webkit-transition: background-color 2s ease-out;
-moz-transition: background-color 0.3s ease-out;
-o-transition: background-color 0.3s ease-out;
transition: background-color 0.3s ease-out;}

.gnb_1dli .bg{display:inline-block;width:10px;height:10px;overflow:hidden;background:url(../img/gnb_bg2.gif) no-repeat 50% 50%;text-indent:-999px}
.gnb_1da {display:inline-block;font-weight:bold;color:#fff;text-decoration:none;}
.gnb_2dli{border-top:1px solid #253dbe}
.gnb_2dli:first-child{border:0}
.gnb_2dul {display:none;position:absolute;top:50px;min-width:140px;background:#1a30a7;padding: 0;
-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.1);
-moz-box-shadow:  0 1px 5px rgba(0,0,0,0.1);
box-shadow: 0 1px 5px rgba(0,0,0,0.1);}
.gnb_2da {display:block;padding:0 10px;line-height:40px;color:#c3cbf7;text-align:left;text-decoration:none}
a.gnb_2da:hover{background:#0e2080;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;}

.gnb_1dli_air .gnb_2da {}
.gnb_1dli_on .gnb_2da {}
.gnb_2da:focus, .gnb_2da:hover {color:#fff}
.gnb_1dli_over .gnb_2dul {display:block;left:0}
.gnb_1dli_over2 .gnb_2dul {display:block;right:0}
.gnb_wrap .gnb_empty {padding:10px 0;width:100%;text-align:center;line-height:2em;color:#fff}
.gnb_wrap .gnb_empty a{color:#fff;text-decoration:underline}
.gnb_wrap .gnb_al_ul .gnb_empty, .gnb_wrap .gnb_al_ul .gnb_empty a{color:#555}

#gnb .gnb_menu_btn{background:#4158d1;color:#fff;width:50px;height:50px;border:0;vertical-align:top;font-size:18px}
#gnb .gnb_close_btn{background:#4158d1;color:#fff;width:50px;height:50px;border:0;vertical-align:top;font-size:18px;position:absolute;top:-50px;left:0}
#gnb .gnb_mnal{padding:0}

#gnb_all{display:none;position:absolute;width:100%;z-index:99;}
#gnb_all .gnb_al_ul:after {display:block;visibility:hidden;clear:both;content:""}
#gnb_all .gnb_al_ul{background:#fff;border:1px solid #4158d1;padding:20px;
-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2);
-moz-box-shadow:  0 2px 5px rgba(0,0,0,0.2);
box-shadow: 0 2px 5px rgba(0,0,0,0.2);}
#gnb_all .gnb_al_li{background:#fff;float:left;min-width:20%;padding:5px }
#gnb_all .gnb_al_li .gnb_al_a{font-size:1.083em;padding:10px;display:block;position:relative;margin-bottom:10px;background: #eff1f9;border-bottom: 1px solid #dee2f1;font-weight: bold;color:#243071}
#gnb_all .gnb_al_li li {padding-left:10px;line-height:2em}
#gnb_all .gnb_al_li li i{color:#9ca6cc}
#gnb_all .gnb_al_li li a{color:#555}

#wrapper{}
#container_wr:after {display:block;visibility:hidden;clear:both;content:""}
#container_wr {z-index:5;margin:0 auto;height:100%;zoom:1}
#aside {float:right;width:305px;padding:0;background: #e7ebf3;height: 100%;border: 1px solid #adbfd2;margin:20px 0 20px 20px}

#container {position:relative; font-size:1.1em; zoom:1;}
#container:after {display:block;visibility:hidden;clear:both;content:""}
#container_title {font-size:1.333em;margin:0 auto;font-weight:bold;}
#container_title span{margin:0 auto 10px;display:block;line-height:30px;}
.lt_wr{width:49%}
.lt_wr:nth-child(2n+1){clear:both}
.latest_wr:after {display:block;visibility:hidden;clear:both;content:""}

#ft {border-top:1px solid #d5d5d5;background:#fff;padding-bottom:30px;margin:0 auto;text-align:center}
#ft h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ft_wr {margin:0 auto;position:relative;}
#ft_link{padding:15px 0;border-bottom:1px solid #eee}
#ft_link a{display:inline-block;padding:0 8px;line-height:1.083em;font-weight:bold}
#ft_catch{margin:20px 0 10px}
#ft_copy{color:#555;font-size:0.92em}
#top_btn {position:fixed;bottom:20px;right:20px;width:50px;height:50px;line-height:46px;border:2px solid #333;color:#333;text-align:center;font-size:15px;z-index:90;background:rgba(255,255,255,0.5)}
#top_btn:hover{border-color:#3059c7;background:#3059c7;color:#fff}

#copymove {}
#copymove  .win_desc {text-align:center;display:block}
#copymove  .tbl_wrap{margin:20px }
#copymove  .win_btn{padding:0 20px 20px}
.copymove_current {float:right;background:#ff3061;padding:5px;color:#fff;border-radius:3px}
.copymove_currentbg {background:#f4f4f4}

#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}

#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}


.img_fix {width:100%;height:auto}


#captcha {display:inline-block;position:relative}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden;}
#captcha #captcha_img { display:inline-block !important;height:40px !important;border:1px solid #ccc !important;vertical-align:top;padding:0 !important;margin:0 !important;}
#captcha #captcha_mp3 {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat 0 -1px;text-indent:-999px;border-radius:3px}
#captcha #captcha_reload {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat  -1px -40px;text-indent:-999px;border-radius:3px}
#captcha #captcha_key {display:inline-block !important;margin:0 0 0 3px !important;padding:0 5px !important;width:90px !important;height:40px !important;border:1px solid #ccc !important;background:#fff !important;font-size:1.333em !important;font-weight:bold !important;text-align:center !important;border-radius:0 !important;vertical-align:top;-webkit-box-shadow: none !important;box-shadow: none !important;}

#captcha #captcha_info {display:inline-block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em;vertical-align: bottom;}


#captcha.m_captcha audio {display:block;margin:0 0 5px;width:187px}
#captcha.m_captcha #captcha_img {width:160px;height:60px;border:1px solid #e9e9e9;margin-bottom:3px;margin-top:5px;display:block;}
#captcha.m_captcha #captcha_reload {position:static;margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha2.png') no-repeat  0 -40px;text-indent:-999px}
#captcha.m_captcha #captcha_reload span{display:none;}
#captcha.m_captcha #captcha_key {margin:0;padding:0 5px;width:115px;height:29px;border:1px solid #b8c9c2;background:#f7f7f7;font-size:1.333em;font-weight:bold;text-align:center;line-height:29px;margin-left:3px}
#captcha.m_captcha #captcha_info {display:block;margin:5px 0 0;font-size:0.95em;letter-spacing:-0.1em}
#captcha.m_captcha #captcha_mp3 {width:31px;height:31px;background:url('../../../img/captcha2.png') no-repeat 0 0 ;  vertical-align:top;overflow:hidden;cursor:pointer;text-indent:-9999px;border:none}


.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc;background:#fafafa;font-size:13px;color:#000;text-decoration:none;line-height:1.9em;vertical-align:middle;cursor:pointer;letter-spacing:-1px;}

.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}


#bo_v_con ul{display: block;list-style-type: disc;margin-top: 1em;margin-bottom: 1em;margin-left: 0;margin-right: 0;padding-left: 40px;}
#bo_v_con ol{display: block;list-style-type: decimal;margin-top: 1em;margin-bottom: 1em;margin-left: 0;margin-right: 0;padding-left: 40px;}
#bo_v_con li{display: list-item;}


a.btn,.btn{display:inline-block;line-height:43px;min-width: 60px;height:43px;padding:0 10px;text-align:center;font-weight:bold;border:0;-webkit-transition: background-color 0.3s ease-out;-moz-transition: background-color 0.3s ease-out;-o-transition: background-color 0.3s ease-out;transition: background-color 0.3s ease-out;font-size:17px;font-weight:400;letter-spacing:-1px;vertical-align: middle;}

a.btn01 {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle;}
a.btn02:focus, .btn02:hover {text-decoration:none}
a.btn03 {display:inline-block;padding:7px;border:1px solid #c30404;background:#c30404;color:#fff;text-decoration:none;vertical-align:middle;}
a.btn03:focus, .btn03:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}
.btn_confirm {text-align:right} /* ?œì‹?¨ê³„ ì§„í–‰ */
.btn_submit { border:1px solid #000; background:#000; color:#fff;}
a.btn_cancel {display:inline-block;border:1px solid #999; border-left:1px solid #ccc; border-right:1px solid #ccc; background:#fff; color:#000;text-decoration:none;vertical-align:middle;}
button.btn_cancel {display:inline-block;border:1px solid #999; border-left:1px solid #ccc; border-right:1px solid #ccc; background:#fff; color:#000;text-decoration:none;vertical-align:middle}
a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;height:35px;border:0;background:#3c3c3c;font-size:13px; color:#fff;text-decoration:none;vertical-align:top; letter-spacing: -0.5px;}
a.btn_frmline {}
button.btn_frmline {font-size:1em}


a.btn_b01,.btn_b01 {display:inline-block;padding: 0 60px;background: #373737;color:#fff;text-decoration:none;border:0;vertical-align:middle;}
a.btn_b02,.btn_b02 {display:inline-block;padding: 0 40px;color:#164893;text-decoration:none;border:1px solid #164893;vertical-align:middle;}
a.btn_b02:hover,.btn_b02:hover { background:#164893; color:#fff;}
a.btn_b03, .btn_b03 {display:inline-block;border:1px solid #999; border-left:1px solid #ccc; border-right:1px solid #ccc; background:#fff; color:#000; text-decoration:none;vertical-align:middle}
a.btn_b04, .btn_b04 {display:inline-block;border:1px solid #999; border-left:1px solid #ccc; border-right:1px solid #ccc; background:#fff; color:#000;text-decoration:none;vertical-align:middle}
a.btn_b05,.btn_b05 {display:inline-block;padding: 0 40px;color:#fff;text-decoration:none;background:#c30404; border:1px solid #c30404;vertical-align:middle;}
a.btn_b05:hover,.btn_b05:hover { background:#000; border-color:#000;}
a.btn_admin,.btn_admin {display:inline-block;border:1px solid #999;border-left:1px solid #ccc;border-right:1px solid #ccc;background:#fff;color: #555;text-decoration:none;vertical-align:middle;}


.color_1 {background:#169dd6}
.color_2 {background:#14d53d}
.color_3 {background:#3814ff}
.color_4 {background:#7520c5}


.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing: 0 5px;border:1px solid #ccc; border-right:none; border-left:none;}
.tbl_wrap caption {padding:10px 0;font-weight:bold;text-align:left}
.tbl_head01 {margin:0 0 10px}
.tbl_head01 table{ border-collapse:separate !important;}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding: 15px 0;font-weight:normal;text-align:center;border-bottom: 1px solid #b3b3b3;background:#f1f1f1;height:40px;}
.tbl_head01 thead th input {vertical-align:top}
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head01 tbody th {padding:8px 0;border-bottom:1px solid #e8e8e8}
.tbl_head01 td {color:#666;background:#fff;padding:10px 5px;border-top:1px solid #ecf0f1;line-height:1.4em;height:60px;word-break:break-all}
.tbl_head01 tbody tr:hover td{background:#fafafa;}
.tbl_head01 a:hover {text-decoration:underline}

.tbl_head02 {margin:0 0 10px}
.tbl_head02 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:5px 0;border-top:1px solid #d1dee2;border-bottom:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top}
.tbl_head02 tfoot th, .tbl_head02 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#fff}
.tbl_head02 td {padding:5px 3px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#fff;line-height:1.4em;word-break:break-all}
.tbl_head02 a {}


.tbl_frm01 {margin:0 0 20px}
.tbl_frm01 table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_frm01 th {width:70px;padding:7px 13px;border:1px solid #e9e9e9;border-left:0;background:#f5f8f9;text-align:left}
.tbl_frm01 td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.tbl_frm01 textarea {padding:2px 2px 3px}
.frm_input {height:40px;}
.full_input{width:100%}
.half_input{width:49.5%}
.tbl_frm01 textarea, .write_div textarea {width:100%;height:100px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px}
.tbl_frm01 .frm_info {display:block;padding:0 0 5px;line-height:1.4em}


.list_01 li{border:1px solid #dbdbdb;background:#fff;border-radius:3px;margin:3px 0;padding:10px 15px;list-style:none;position:relative;}
.list_01 li:after {display:block;visibility:hidden;clear:both;content:""}
.list_01 li:hover{background:#f9f9f9}
.list_01 li.empty_li{text-align:center;padding:20px 0;color:#666}


.form_01 h2{margin:0 0 10px;font-size:1.167em}
.form_01 li{margin:10px 0}
.form_01 li:after {display:block;visibility:hidden;clear:both;content:""}
.form_01 li .right_input{float:right}
.form_01 textarea{height:100px;width:100%}
.form_01 .frm_label{display:inline-block;width:130px}


.empty_table {padding:50px 0 !important;text-align:center}
.empty_list {padding:20px 0 !important;color:#666;text-align:center}


.required, textarea.required {/* background-image:url('../img/require.png')  !important; */background-repeat:no-repeat   !important;background-position:right top  !important;}


.td_board {width:80px;text-align:center}
.td_category {width:80px;text-align:center}
.td_chk {width:30px;text-align:center}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_group {width:80px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_name {width:100px;text-align:center}
.td_nick {width:100px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:80px;text-align:center}
.td_stat {width:60px;text-align:center}

.txt_active {color:#5d910b}
.txt_done {color:#e8180c}
.txt_expired {color:#ccc}
.txt_rdy {color:#8abc2a}


.new_win {position:relative;}
.new_win .tbl_wrap {margin:0 20px}
.new_win #win_title {font-size:1.25em;height:50px;line-height:30px;padding:10px 20px;background:#333;color:#fff;}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win .win_ul {border-right:1px solid #dfe6e7;}
.new_win .win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_ul li{float:left;background:#fff;width:33.333%;text-align:center;border:1px solid #ccc;margin-left:-1px}
.new_win .win_ul li a{display:block;padding:10px 0}
.new_win .win_ul .selected{background:#fff;border-color:#253dbe;position:relative;z-index:5}
.new_win .win_ul .selected a{color:#253dbe;font-weight:bold}
.new_win .win_desc {margin:5px 0;font-size:0.92em;color:#3598db;}
.new_win .frm_info{font-size:0.92em;color:#3598db}
.new_win .win_total{text-align:right;margin:10px 0}
.new_win .win_total span{display:inline-block;line-height:30px;font-size:0.92em;color:#4e546f;background:#d4d4d4;padding:0 10px;border-radius:5px;}
.new_win .new_win_con{margin:20px;}
.new_win .new_win_con:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .btn_confirm:after {display:block;visibility:hidden;clear:both;content:""}
.new_win .win_btn{text-align:right}
.new_win .btn_close {position:absolute;top:0;right:0;height:50px;width:50px;background:url(../img/close_btn.gif) no-repeat 50% 50%;border:0;text-indent:-999px;overflow:hidden;cursor:pointer}
.new_win .btn_submit {padding:0 20px;height:40px;font-weight:bold;font-size:1.083em;float:right}


.sch_word {color:#00c4ac}


#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}


.sv_wrap {position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;font-size:0.92em;background:#333;
-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);}
.sv_wrap .sv:before{content: "";position: absolute;top: -6px;left: 15px;width: 0;height: 0;border-style: solid;border-width: 0 6px 6px 6px;border-color: transparent transparent #333 transparent;}
.sv_wrap .sv a {display:inline-block;margin:0;padding:0  10px;line-height:30px;width:100px;font-weight:normal;color:#bbb }
.sv_wrap .sv a:hover{background:#000;color:#fff}
.sv_member{color:#333}
.sv_on {display:block !important;position:absolute;top:23px;left:0px;width:auto;height:auto}
.sv_nojs .sv {display:block}


.pg_wrap {clear:both;margin:30px 0 ;text-align:center}
.pg_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.pg {}
.pg_page,
.pg_current { display:inline-block; background:#fff; border:1px solid #bbbcc3; vertical-align:middle;}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {color:#555;font-size:17px;color:#898989;height:43px;line-height:43px;padding:0 5px;min-width:43px;text-decoration:none;}
.pg_page:hover{background-color:#ddd}
.pg_start {text-indent:-999px;overflow:hidden;background:#c6c6c6 url('/img/bu/bu_paging_first_more.png') no-repeat 50% 50%;padding:0;border:1px solid #bbb;}
.pg_prev {text-indent:-999px;overflow:hidden;background:#c6c6c6 url('/img/bu/bu_paging_first.png') no-repeat 50% 50%;padding:0;border:1px solid #bbb}
.pg_end {text-indent:-999px;overflow:hidden;background:#c6c6c6 url('/img/bu/bu_paging_last_more.png') no-repeat 50% 50%;padding:0;border:1px solid #bbb}
.pg_next {text-indent:-999px;overflow:hidden;background:#c6c6c6 url('/img/bu/bu_paging_last.png') no-repeat 50% 50%;padding:0;border:1px solid #bbb}
.pg_start:hover,.pg_prev:hover,.pg_end:hover,.pg_next:hover{background-color:#bbb;}

.pg_current {display:inline-block;padding:0 10px;min-width:43px;height:43px;border: 1px solid #164893;background: #164893;font-size:17px;color:#fff;font-weight:500;line-height:43px;}


.cheditor-popup-window *, .cheditor-popup-window :after, .cheditor-popup-window :before {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}


#device_change {display:block;margin:0.3em;padding:0.5em 0;border:1px solid #eee;border-radius:2em;background:#fff;color:#000;font-size:2em;text-decoration:none;text-align:center}



#hd,
#aside,
.latest_wr,
#ft{ display:none !important; }


::-webkit-input-placeholder {color: #aaa;}
:-ms-input-placeholder {color: #aaa}
::-moz-placeholder {color: #aaa;opacity: 1}
:-moz-placeholder {color: #aaa;opacity: 1;}


::selection { background:#338fff; color: #FFF; text-shadow: none;}
::-moz-selection { background:#338fff; color: #FFF; text-shadow: none;}
::-webkit-selection { background:#338fff; color: #FFF; text-shadow: none;}


.clear { clear:both; }
.clearfix { *zoom:1; }
.clearfix:after { content:""; display:block; clear:both;}
.blind { display: none; }
.hide, .sound_only { position:absolute; left:-30000px;}
.placeholdersjs { color: #aaa !important; }
.link_address:hover { text-decoration: underline !important; }

/*float*/
.fl { float: left !important; }
.fc { display:inline-block; *display:inline; zoom:1; }
.fr { float: right !important; }

/*text-align*/
.ta_c { text-align: center !important; }
.ta_l { text-align: left !important; }
.ta_r { text-align: right !important; }

/*border style*/
.bn{ border:none!important;}
.bl_n { border-left:none !important; }
.br_n { border-right:none !important; }
.bt_n { border-top:none !important; }
.bb_n { border-bottom:none !important; }

/*font style*/
.f_cancel { text-decoration: line-through;}
.f_normal {font-weight: normal;}
.f_black { color: #000 !important; }
.f_white {color: transparent!important;}
.f_gray { color: #888 !important; }
.f_gray999 { color: #999 !important; }
.f_orange { color: #EB5054 !important;}
.f_red {color: #d80000 !important;}
.f_blue {color: #0f87aa !important;}
.f_blue2 {color: #00f !important;}
.f_nilegreen { color: #68C2BC !important;}
.f_green { color: #e9ff00 !important;}
.f_yellow { color: #F9FF00 !important;}
.f_11 { font-size: 11px !important; }
.f_12 { font-size: 12px !important; }
.f_13 { font-size: 13px !important; }
.f_14 { font-size: 14px !important; }
.f_15 { font-size: 15px !important; }
.f_16 { font-size: 16px !important; }
.f_18 { font-size: 18px !important; }
.f_20 { font-size: 20px !important; }

/* padding, margin style */
.p0 { padding: 0 !important; }
.pt0 { padding-top: 0 !important; }
.pt5 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pb0 { padding-bottom: 0 !important; }
.pb5 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb90 { padding-bottom: 90px !important; }
.pb94 { padding-bottom: 94px !important; }
.pl0 { padding-left: 0px !important; }
.pl5 { padding-left: 5px !important; }
.pl7 { padding-left: 7px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
.pl90 { padding-left: 90px !important; }
.pl100 { padding-left: 100px !important; }
.pr0 { padding-right: 0px !important; }
.pr5 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr20 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }
.m0 { margin: 0 !important; }
.mt0 { margin-top: 0px !important; }
.mt3 { margin-top: 3px !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt80 { margin-top: 80px !important; }
.mt90 { margin-top: 90px !important; }
.mt100 { margin-top: 100px !important; }
.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.ml0 { margin-left: 0px !important; }
.ml2 { margin-left: 2px !important; }
.ml3 { margin-left: 3px !important; }
.ml5 { margin-left: 5px !important; }
.ml7 { margin-left: 7px !important; }
.ml8 { margin-left: 8px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }
.ml70 { margin-left: 70px !important; }
.ml100 { margin-left: 100px !important; }
.ml120 { margin-left: 120px !important; }
.ml195 { margin-left: 195px !important; }
.mr0 { margin-right: 0px !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr18 { margin-right: 18px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }

.linetxt:hover { text-decoration: underline; }


.bul_st01>li{position: relative; padding-left: 12px; font-size: 14px;}
.bul_st01>li:before{content: '';position: absolute;left: 2px;top: 10px;width: 5px;height: 1px;background-color: #000;}

.bul_st02>li{position: relative; padding-left: 9px; line-height: 22px; text-align: left;}
.bul_st02>li:before{content: '';position: absolute;left: 0;top: 9px;width: 3px;height: 3px;border-radius: 100%;background-color: #0f5cbb;}

.bul_st03>li{position: relative;padding-left: 18px; line-height: 22px; text-align: left;}
.bul_st03>li:before{content: '';position: absolute;left: 0;top:0;}

.bul_st04 { padding:0; margin:0 0 0 15px;}
.bul_st04 > li { text-indent:5px;}

.bul_st05 { padding-left:17px;}
.bul_st05 > li { padding-top:40px; font-size:21px; color:#333; font-weight:400; letter-spacing:-1.2px;}
.bul_st05 > li > strong { font-weight:400;}
.bul_st05 > li > p { padding-top:15px; font-size:17px; color:#555; line-height:24px; font-weight:300;}

.bul_st06 { padding:0; margin:0;}
.bul_st06 > li { position:relative; padding:5px 0 5px 18px; font-size:17px; color:#555; line-height:24px; font-weight:300; list-style:none;}
.bul_st06 > li span { position:absolute; left:0;}

.bul_st07 > li { position:relative; padding-left:20px; margin-top:15px; font-size:17px; color:#555; line-height:24px; font-weight:300;}
.bul_st07 > li > span { position:absolute; left:0; top:0;}

.tit_type01 { padding-bottom:70px; margin-bottom:0; font-size:40px; text-align:center; font-family: 'SharpSansNo1','nanumsquare',sans-serif;}
.tit_type02 { padding-bottom:20px; margin-bottom:0; font-size:28px;}

.tit_type03 { font-size:60px; color:#fff; font-weight:200; letter-spacing:-5px; line-height:70px;}
.tit_type03 strong { font-weight:500;}

.tit_type04 { padding-top:70px; font-size:50px; color:#444; font-weight:200; letter-spacing:-4px; text-indent: -3px; line-height:50px;}
.tit_type04 strong { color:#164593; font-weight:500;}

.tb_wrap {display:table;width:100%;}
.tb_wrap .tb_cell { display:table-cell; vertical-align:middle;}

span.block { display:block !important;}

.box_type01 { padding:23px; border:1px solid #e3e3e3; background:#f5f5f5;}
.box_type01 .point { color:#164593; font-weight:500; }
.box_type01 .point_block { display:block; color:#164593; font-weight:500; }
.sel_st01 { padding:0 10px; max-width:160px; width:100%; height:40px; font-size:15px; letter-spacing: -1px; outline:none; font-family:'OneLatin', 'nanumsquare', "Apple SD Gothic Neo", Arial,sans-serif; font-weight:400;}
.sel_st02 { padding:0 10px; width:100%; height:40px; font-size:15px; letter-spacing: -1px; outline:none; font-family:'OneLatin', 'nanumsquare', "Apple SD Gothic Neo", Arial,sans-serif; font-weight:400;}


.board_wrap { margin:0 auto; padding-bottom:100px; width:1200px;}
.board_wrap h3 { margin-bottom:25px; }
.board_wrap .utilmenu_wrap .chkbox_all { float:left; font-size:17px; line-height:43px;}
.board_wrap .utilmenu_wrap .utilbtn { float:right;}
.board_wrap .list_btm { position: relative; margin-top:30px; min-height:43px; text-align: right;}
.board_wrap .list_btm .writebtn { position: relative; z-index: 100; display:inline-block;}
.board_wrap .list_btm .pg_wrap { position:absolute; left:0; top:0; margin:0; width:100%;  text-align:center;}
.board_wrap .bo_v_cate { color:#ed6706; }
.board_wrap .bo_v_result { color:#ed6706; }
.board_wrap .bo_v_tit { font-size:18px; color:#444; font-weight:500; }


.otherpage > a { display:block; position:relative; border-bottom:1px solid #a3a3a3;}
.otherpage > a:before { display:none; content:""; position:absolute; left:0; top:0; width:100%; height:100%; border:5px solid #bfbfbf;}
.otherpage > a:hover:before { display:block;}
.otherpage .fl { width:15%; height:57px; background:#f7f7f7; text-align:center; font-size:17px; color:#333; font-weight:500; line-height:57px; letter-spacing: -1px;}
.otherpage .fr { position:relative; width:83%;}
.otherpage .fr p { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; width:85%; font-size:18px; color:#444; font-weight:500; line-height:57px; letter-spacing: -1px;}
.otherpage .fr span.date { position:absolute; right:20px; top:0; font-size:18px; color:#666; font-weight:500; line-height:57px; letter-spacing: -1px;}


.privacy_wrap {padding-top:35px;}
.privacy_wrap h4 { padding-bottom:5px; font-size:20px; color:#333; letter-spacing: -1px; font-weight:400;}
.privacy_wrap .box { overflow-y:scroll; height:300px; padding:20px; border:1px solid #ccc; font-size:14px; line-height:1.4;}
.privacy_wrap .box .txt { font-size:15px; color:#353535; line-height:24px; letter-spacing:-0.75px; font-weight:400;}
.privacy_wrap .box .txt strong { font-size:17px; }
.privacy_wrap .box .txt dl { padding-top:20px;}
.privacy_wrap .box .txt dl dt { margin-bottom:10px; font-weight:500;}
.privacy_wrap .box .txt dl dd li { margin:2px 0;}
.privacy_wrap .box .txt dl dd > ol,
.privacy_wrap .box .txt dl dd > ul { padding-left:15px; margin-bottom:0;}


.privacy_wrap .agree { padding:5px 0 0 5px; }
.privacy_wrap .agree input[type="checkbox"] { margin-top:1px; width:17px; height:17px; border:1px solid #cccccc; vertical-align: middle; }
.privacy_wrap .agree label { font-size:17px; color:#333; letter-spacing: -1px; }


.board_agree { padding: 20px; margin:0 0 30px; border-bottom: 1px solid #aaa; text-align: center;}
.board_agree input[type="checkbox"] { margin-right:5px; width:17px; height:17px; vertical-align: middle;}
.board_agree label { font-size:17px; vertical-align: middle;}
.board_agree .view_privacy { display: inline-block; margin-left: 10px; padding: 0 15px; border: 2px solid #333; font-size: 15px; color: #333; line-height: 21px; vertical-align: middle; }
.board_agree .view_privacy:hover { background:#333; color:#fff; }



.td_subject { position: relative;}
.secret_box { display:none; position:absolute;left:-180px;top:0; padding:50px 0;width:1200px;z-index:1000;background:rgba(0,0,0,0.9);text-align:center;}
.secret_box strong { font-size:28px; color:#ee6f14; letter-spacing:-1px; font-weight:400;}
.secret_box p { padding:5px 0 25px; font-size:20px; color:#fff; font-weight:300; line-height:28px;}
.secret_box input[type="password"] { width:300px; text-align:center;}
.secret_box .btnarea { margin:25px auto 0; width:300px;}
.secret_box .btnarea:after { content:""; display:block; clear:both;}
.secret_box .btnarea .btn_ok { float:left; width:145px; background:red; font-size:17px; color:#fff; line-height:40px;}
.secret_box .btnarea .btn_back { float:right; width:145px; border:1px solid #fff; font-size:17px; color:#fff; line-height:38px;}
.secret_box .close { position: absolute; right:0; top:0; width:48px; height:47px; background:url(/img/ico/ico_close_secret.png) no-repeat center; }



/* 게시판 글쓰기페이지 */
.bd_write { border-top:2px solid #333;}
.bd_write .bdw_area:after { content:""; display:block; clear:both;}
.bd_write .bdw_area .orange { color:#0e71c4;}
.bd_write .bdw_area .bdw_list { float:left; width:100%;}
.bd_write .bdw_area .bdw_list > div { display:table; width:100%;}
.bd_write .bdw_area .bdw_list > div > div { display:table-cell; vertical-align: middle;}
.bd_write .bdw_area .bdw_list .left { padding:10px 20px; width:140px; height:57px; border-bottom:1px solid #a3a3a3; background:#f9f9f9; font-size: 17px; color: #333; font-weight: 500; letter-spacing: -0.5px; text-align:center;}
.bd_write .bdw_area .bdw_list .right { padding:10px 20px; border-bottom:1px solid #a3a3a3; font-size: 17px; color: #393939; letter-spacing: -0.5px;}

.bd_write .bdw_area.wd02 .bdw_list { width:50%;}
.bd_write .bdw_area.wd03 .bdw_list { width:33.3333%;}


/* 게시판 상세페이지 상단 */
.bd_view { border-top:2px solid #333;}
.bd_view .bdv_area:after { content:""; display:block; clear:both;}
.bd_view .bdv_area .orange { color:#0e71c4;}
.bd_view .bdv_area .bdv_subject { font-weight:500; color:#444;}
.bd_view .bdv_area .bdv_list { float:left; width:100%;}
.bd_view .bdv_area .bdv_list > div { display:table; width:100%;}
.bd_view .bdv_area .bdv_list > div > div { display:table-cell; vertical-align: middle;}
.bd_view .bdv_area .bdv_list .left { padding:15px 20px; width:180px; height:57px; border-bottom:1px solid #a3a3a3; background:#f9f9f9; font-size: 17px; color: #333; font-weight: 500; letter-spacing: -0.5px; text-align:center;}
.bd_view .bdv_area .bdv_list .right { padding:15px 20px; border-bottom:1px solid #a3a3a3; font-size: 17px; color: #393939; letter-spacing: -0.5px;}

.bd_view .bdv_area.wd02 .bdv_list { width:50%;}
.bd_view .bdv_area.wd03 .bdv_list { width:33.3333%;}
.bd_view .bdv_area.wd03 .bdv_list.wdlist01 { width:30%; }
.bd_view .bdv_area.wd03 .bdv_list.wdlist02 { width:40%; }
.bd_view .bdv_area.wd03 .bdv_list.wdlist03 { width:30%; }

