@charset "UTF-8";

.wrap{
	width:1200px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-bottom: 100px;
}

.sideMenu{
	width:260px;
	height : 500px;
	
}

.main_content{
	width: 880px;
	padding-bottom: 100px;
	
}

.main_content_1{
	width : 100%;
	height : 92px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: solid 1px lightgray;
	margin-bottom: 50px;
	
}

.main_content_1 h2{
	font-size: 32px;
	font-weight: 400;
	border-bottom: solid 3px #0079E9;
	padding-bottom: 10px;
	color: #333333;
	
}

.main_content_1 div{
	font-size: 14px;
	padding-bottom: 10px;
	color: #333333;	
	font-weight: 500;
}

.main_content_1 img{
	padding-bottom: 6px;
	padding-right: 3px;
	
}


.main_content_2{
	text-align: center;
	align-items: center;
	
}

.c_text1{
	font-size: 30px;
	font-weight: 500;
	color: #444444;
	
}

.s_text1{
	color: #126DBF;
}

.p_text1{
	font-size: 16px;
	color: #5C5C5C;
	margin: 10px 0px;
}

.s_text2{
	color: #DA0000;
	
}

.head_text{
	margin-top: 50px;
	color: #1C5EB1;
	font-size: 20px;
	font-weight: 400;
	
}


.main_content_3 , .main_content_4{
	width: 100%;
	margin: 10px 0px;
	border-top: dotted 1px #888;
	border-bottom: dotted 1px #888;
}


.typeText{
	display: inline-block;
	font-size : 17px;
	width: 205px;
	font-weight: 500;
}

.checkButton1{
	margin-right: 50px;
	font-size: 16px;
	height: 20px;
}

.checkButton1 input{
	width: 20px;
	height: 20px;
	margin-bottom: 3px;
}

.main_content_3 div{
	margin: 40px 0px;
}

.main_content_4 div{
	margin: 30px 0px;
}


#inputDate{
	height: 40px;
	width : 200px;
	
}
#inputBox{
	width: 200px;
	
}

#inputBox1{
	width: 200px;
	
}

#inputBox2{
	width: 135px;
}
#inputBox3{
	width: 280%;
}
#inputBox4{
	width: 50px;
}


.m_div2{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	
}


.s_div2{
	margin-right: 20px;
	
}

.typeText2{
	display: inline-block;
	width: 205px;
	
}

#m_div4{
	font-size: 16px;
	margin-top: 10px;
	color: #D80018;
	
}

.sumbit{
	width: 142px;
	height: 44px;
	background-color: #1E77C7;
	font-size: 18px;
	font-weight: bold;
	color: white;
	border: solid 1px #125da0;
	
	
}

.sub_div{
	display: flex;
	width: 100%;
	justify-content: center;
	padding-top: 50px;
	
}


.sideTeam{
	height:100px;
	width: 100%;
	background-image: url("../img/bg_submenu_tit.jpg");
	background-repeat: no-repeat;
	background-color: #007AE9;
	text-align: center;
	padding-top: 27px;
	margin: 0 auto;
}

.sideTeam h3{
	color:white;
	font-size: 28px;
	font-weight: 500;
}

.sideLine{
	align-items: center;
	border-bottom: solid 1px #A2D9FF;
	width:30px;
	margin: 0 auto;
	
}



.listStyle{
	color : #6e6e6e;
	font-size: 14px;
	font-weight: 400;
	background-color: #F5F7F8;

}
.arrow{
	display: inline-block;
	margin-left: 110px;
	background-image: url("../img/bu_submenu.png");
	width:9px;
	height:17px;
}
.headText{
	margin-top: 2px;
	background-color: white;
	color : #444444;
	font-size: 16px;
	font-weight: 500;
	border: solid 1px #d5d5d5;
	padding-left: 30px;
	height: 55px;
	align-items: center;
	vertical-align: middle;
	padding-top:14px;
	padding-bottom:12px;
	
}

.listStyle li{
	color : #6e6e6e;
	font-size: 14px;
	font-weight: 400;
	background-color: #F5F7F8;
	border: solid 1px #d5d5d5;
	border-top: none;
	padding-left: 30px;
	height: 50px;
	align-items: center;
	vertical-align: middle;
	padding-top:12px;
	padding-bottom:12px;
}


.makerImg{
	display: inline-block;
	width:4px;
	height:5px;
	background-image: url(../img/bu_depthmenu.png);
	margin-right:5px;
	margin-bottom:3px;
	
}

.navertalk{
	width:100%;
	display: flex;
	background-color: #01C73C;
	justify-content: space-around;
	padding: 15px 20px;
	margin-top: 10px;
}

.talkText{
	margin-right: 20px;
	
}

.talkText h3{
	font-size: 18px;
	color: white;
	font-weight: 500;
	
}

.talkText h4{
	font-size: 15px;
	font-weight: 500;
	
}